<div class="col-6">
  <table class="col-12 table table-striped">
    <tr>
      <td class="col-6" align="right"><h1>Müşteri Bilgileri</h1></td>
      <td class="col-6"></td>
    </tr>
    <tr>
      <td><b>Numara :</b></td>
      <td>{{customer.id}}</td>
    </tr>
    <tr>
      <td><b>Adı :</b></td>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <td><b>Soyadı :</b></td>
      <td >{{customer.surname}}</td>
    </tr>
    <tr>
      <td><b>Telefon Numarası :</b></td>
      <td >{{customer.phoneNumber}}</td>
    </tr>
  </table>
</div>
