<h1 align="center">Müşteri Görüntüleme</h1>
<div class="col-8">
    <table class="col-12">
      <tr>
        <td class="col-6" align="right"><label><b>Adı:</b></label></td>
        <td class="col-6">
          <input disabled type="text" id="name" name="name"
                 class="form-control" [(ngModel)]="customer.name"
                 [maxLength]="25"/>
        </td>
      </tr>
      <tr>
        <td align="right"><label><b>Soyadı:</b></label></td>
        <td><input disabled type="text" id="surname" name="surname" class="form-control"
                   [(ngModel)]="customer.surname" [maxLength]="25"/>
        </td>
      </tr>
      <tr>
        <td align="right"><label><b>Telefon Numarası:</b></label></td>
        <td><input disabled type="text" id="phoneNumber" name="phoneNumber" class="form-control"
                   [(ngModel)]="customer.phoneNumber"/>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td align="right"><input id="btnBack" name="btnBack" type="button" class="btn btn-info" (click)="navigateForList()" value="Geri"/></td>
      </tr>
    </table>
</div>
